* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto 0 60px;
    width: 1000px;
}

.img-eye {
    width: 300px;
    height: 200px;
    background-image: url(img/2014-05-04_14.54.23.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center left;
}

.img-eye:hover{
background-size: 100%;
}